.aelsh_FHdiv {
  position: relative;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  background: #fff;	
  	border: 0px solid #cacfd3;
  overflow-y: auto;
  overflow-x: hidden;
}
	.aelsh_FHdiv_header {
		overflow: hidden;
	}
	.aelsh_FHdiv[data-margin=no] {
		margin-top: 0px;
		margin-bottom: 0px;
	}
.aelsh_FHtable {
	border-collapse: separate;
		border-spacing: 0px;
		border-right: 1px solid #cacfd3;
}
	.aelsh_FHtable thead td, .aelsh_FHtable thead th {
		font-weight: bold;
			text-align: center;
			vertical-align: middle;
		background: #ededf1;
		border-top: 1px solid #cacfd3;
	}
	.aelsh_FHtable td, .aelsh_FHtable th {
		font-family: Arial;
			font-size: 13px;
			vertical-align: top;
		padding: 5px;
		border-left: 1px solid #cacfd3;
		border-bottom: 1px solid #cacfd3;
	}
